# Dependencies
node_modules/
npm-debug.log*

# Environment variables
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

.env
.env.local
.env.production

# Database
*.db
*.sqlite
*.sqlite3

# Build outputs
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/